/** @format */
body {
	/* background-color: lightgoldenrodyellow; */
	background-color: #f9faee;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 20px -20px;
	background-color: #f9faee;
	/* background-color: lightgoldenrodyellow; */
	color: brown;
	position: sticky;
	top: 0;
}
.nav-items {
	display: flex;
}

.nav-items > ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 80px;
}
.nav-items > ul > .menu-li > a {
	padding: 10px;
	background-color: transparent;
	color: brown;
	font-weight: 900;
	font-size: 17px;
	margin-right: 60px;
	text-decoration: none;
}
.log-btn {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 10px;
	background-color: transparent;
	color: brown;
	font-weight: 600;
	font-size: 18px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

.logo {
	width: 120px;
	margin-left: 80px;
}
.search-container {
	display: flex;
	justify-content: center;
	margin: 20px;
	padding: 20px;
}
.search-container > .search-input {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	border: none;
	background: 0 0;
	border-bottom: #2c5142 1px solid;
	color: #2c5142;
	padding-right: 2.5rem;
	outline: none;
}
.search-container > .search-btn {
	background-color: 0 0;
	/* border: #2c5142 1px solid; */
	color: #2c5142;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: #2c5142 1px solid;
}

.restaurant-List a {
	text-decoration: none;
}

.card {
	width: 250px;
	height: 330px;
	margin: 10px;
	padding: 10px;
}
.card:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 10px;
}
.card > img {
	width: 100%;
}
.card > h2 {
	margin: 0;
	padding: 5px;
	color: brown;
}
.card > h4 {
	overflow: hidden;
	margin: 0;
	padding: 5px;
	color: brown;
}
.card > .card-specifications {
	display: flex;
	justify-content: space-between;
	color: brown;
}

.restaurant-List {
	width: 100%;
	margin: auto;
	display: grid;
	justify-content: center;
	grid-template-columns: 20% 20% 20% 20%;
	gap: 30px;
}

.restaurant-shimmer {
	width: 100%;
	margin: auto;
	display: grid;
	justify-content: center;
	grid-template-columns: 20% 20% 20% 20%;
	gap: 30px;
}
.shimmer-card {
	width: 250px;
	height: 330px;
	margin: 10px;
	padding: 10px;
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.shimmer-card > .shimmer-img {
	width: 200px;
	height: 200px;
	background-color: darkgray;
	width: 100%;
	margin-bottom: 30px;
	height: 100%;
}
.shimmer-card > .shimmer-name {
	background-color: darkgray;
	height: 15px;
	margin-bottom: 20px;
	border-radius: 10px;
	width: 100%;
}
.shimmer-card > .shimmer-cuisines {
	background-color: darkgray;
	height: 15px;
	border-radius: 10px;
	width: 100%;
}
.shimmer-card > .shimmer-specifications {
	background-color: darkgray;
	height: 15px;
	border-radius: 10px;
	width: 100%;
	margin-top: 20px;
}
.menu-card {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: black;
	color: white;
	padding: 20px;
}
.menu-card > .restrau-image {
	width: 200px;
	height: 200px;
}
.itemcard {
	margin: 0 350px;
}
.itemcard > .itembox {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin: 20px;
	gap: 300px;
	border: 1px solid black;
	height: 170px;
}
.itemcard > .itembox > .item-details > p {
	font-size: 13px;
}
.itemcard > .itembox > .itemimg > .item-img {
	height: 100px;
}
.itemcard > .itembox > .itemimg > .item-btn {
	border: 1px solid black;
	padding: 4px;
	margin: 2px;
	width: 60px;
	font-size: 15px;
	color: brown;
}
.clear-btn {
	margin: 10 100px;
	border: 1px solid green;
	color: crimson;
	padding: 2px;
}
