/** @format */
body {
	/* background-color: lightgoldenrodyellow; */
	background-color: #f9faee;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 20px -20px;
	background-color: #f9faee;
	/* background-color: lightgoldenrodyellow; */
	color: brown;
	position: sticky;
	top: 0;
}
.nav-items {
	display: flex;
}

.nav-items > ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 80px;
}
.nav-items > ul > .menu-li > a {
	padding: 10px;
	background-color: transparent;
	color: brown;
	font-weight: 900;
	font-size: 17px;
	margin-right: 60px;
	text-decoration: none;
}
.log-btn {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 10px;
	background-color: transparent;
	color: brown;
	font-weight: 600;
	font-size: 18px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

.logo {
	width: 120px;
	margin-left: 80px;
}
.search-container {
	display: flex;
	justify-content: center;
	margin: 20px;
	padding: 20px;
}
.search-container > .search-input {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	border: none;
	background: 0 0;
	border-bottom: #2c5142 1px solid;
	color: #2c5142;
	padding-right: 2.5rem;
	outline: none;
}
.search-container > .search-btn {
	background-color: 0 0;
	/* border: #2c5142 1px solid; */
	color: #2c5142;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: #2c5142 1px solid;
}

.restaurant-List a {
	text-decoration: none;
}

.card {
	width: 250px;
	height: 330px;
	margin: 10px;
	padding: 10px;
}
.card:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 10px;
}
.card > img {
	width: 100%;
}
.card > h2 {
	margin: 0;
	padding: 5px;
	color: brown;
}
.card > h4 {
	overflow: hidden;
	margin: 0;
	padding: 5px;
	color: brown;
}
.card > .card-specifications {
	display: flex;
	justify-content: space-between;
	color: brown;
}

.restaurant-List {
	width: 100%;
	margin: auto;
	display: grid;
	justify-content: center;
	grid-template-columns: 20% 20% 20% 20%;
	gap: 30px;
}

.restaurant-shimmer {
	width: 100%;
	margin: auto;
	display: grid;
	justify-content: center;
	grid-template-columns: 20% 20% 20% 20%;
	gap: 30px;
}
.shimmer-card {
	width: 250px;
	height: 330px;
	margin: 10px;
	padding: 10px;
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.shimmer-card > .shimmer-img {
	width: 200px;
	height: 200px;
	background-color: darkgray;
	width: 100%;
	margin-bottom: 30px;
	height: 100%;
}
.shimmer-card > .shimmer-name {
	background-color: darkgray;
	height: 15px;
	margin-bottom: 20px;
	border-radius: 10px;
	width: 100%;
}
.shimmer-card > .shimmer-cuisines {
	background-color: darkgray;
	height: 15px;
	border-radius: 10px;
	width: 100%;
}
.shimmer-card > .shimmer-specifications {
	background-color: darkgray;
	height: 15px;
	border-radius: 10px;
	width: 100%;
	margin-top: 20px;
}
.menu-card {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: black;
	color: white;
	padding: 20px;
}
.menu-card > .restrau-image {
	width: 200px;
	height: 200px;
}
.itemcard {
	margin: 0 350px;
}
.itemcard > .itembox {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin: 20px;
	gap: 300px;
	border-bottom: 1px solid black;
	height: 170px;
}
.itemcard > .itembox > .item-details > p {
	font-size: 13px;
}
.itemcard > .itembox > .itemimg > .item-img {
	height: 100px;
}
.itemcard > .itembox > .itemimg > .item-btn {
	border: 1px solid black;
	padding: 4px;
	margin: 2px;
	width: 60px;
	font-size: 15px;
	color: brown;
}
.clear-btn {
	margin: 10 100px;
	border: 1px solid green;
	color: crimson;
	padding: 2px;
}
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
}
.footer .follow-us {
	background-color: white;
	color: black;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	padding: 5px;
}
.footer ul {
	display: flex;
	gap: 10px;
	margin: 20px;
	list-style: none;
}
.about {
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-img {
	width: 400px;
	height: 400px;
}
.login-container {
	width: 380px;
	margin: 40px auto 0;
}

.login-form {
	position: relative;
	z-index: 1;
	background: var(--light-orange);
	border-radius: 10px;
	max-width: 380px;
	padding: 25px 40px;
	text-align: center;
	border: 1px solid crimson;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
		rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
		rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.login-form input {
	outline: 0;
	background: var(--input-bg);
	width: 100%;
	border: 0;
	border-radius: 5px;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.login-form input:focus {
	background: var(--input-bg-focus);
}

.login-form button {
	text-transform: uppercase;
	outline: 0;
	background: #4b6cb7;
	width: 100%;
	border: 0;
	border-radius: 5px;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.login-form button:active {
	background: #395591;
}

.login-form span {
	font-size: 40px;
	color: #4b6cb7;
	margin-bottom: 25px;
	display: block;
}

.login-form p.error {
	margin: 0 0 10px 10px;
	text-align: left;
	font-size: 13px;
	color: red;
}
.instamart {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 450px;
}

.contact-container {
	display: flex;
	flex-wrap: wrap;
	margin: 100px auto 30px;
	justify-content: space-evenly;
	overflow-y: hidden;
}

.contact-container .contact-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: x-large;
}

.contact-container .contact-right h1 {
	color: var(--light-text-title);
}
.contact-container .contact-right form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.contact-container .contact-right form input {
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	border: 2px solid #aabcca;
	width: 50vh;
}

.contact-container .contact-right form textarea {
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	border: 2px solid #aabcca;
	width: 50vh;
}

.contact-container .contact-right form button {
	padding: 10px 15px;
	margin: 10px;
	background-color: var(--light-blue);
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	color: brown;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

.contact-container .contact-right form button:hover {
	background-color: rgb(59, 93, 192);
}

@media screen and (max-width: 380px) {
	.logo {
		margin-right: 70px;
	}
	.header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.header > .nav-items > ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.restaurant-List {
		display: flex;
		flex-wrap: wrap;
	}
	.shimmer-card {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.about {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}
	.itemcard > .itembox {
		margin-left: -345px;
	}
}
@media screen and (max-width: 767px) {
	.logo {
		margin-right: 70px;
	}
	.header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.header > .nav-items > ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: 150px;
		margin-top: 10px;
	}
	.restaurant-List {
		display: flex;
		flex-wrap: wrap;
	}
	.header > .nav-items > ul > .log-btn {
		margin-right: 60px;
	}
	.restaurant-shimmer {
		display: flex;
		flex-wrap: wrap;
	}
	.about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}
